"*":
  "atom-beautify":
    general:
      _analyticsUserId: "5cadc544-b8ff-427a-aee6-1f213fbd0ee1"
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    showIndentGuide: true
  "exception-reporting":
    userId: "7785c7ba-a484-1dc1-0f9b-b2a819a0ddc9"
  welcome:
    showOnStartup: false
